# Solution and project files
*.sln
!Console.Core.sln
*.csproj
!Console*.csproj

# IDE generated
.vs/
.idea/

# Auto generated directories
Logs/
Library/
Temp/
obj/
Build/
bin/

# Ignoring Nuget Packages
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.assets.json